@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600;700&family=Playfair+Display:ital,wght@0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600;700&family=Cinzel+Decorative:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(6,auto);
    grid-template-areas:
    "header header header "
    " t_a t_a  t_a "
    ". História História"
    "valores valores valores"
    "p_m p_m p_m"
    "s_c s_c s_c"
    "roda roda roda";
    min-height: 100vh;
    color: #5b8558;
    width: 100%;
    gap: 10px;
 
}
 
#Cabeçalho {
    grid-area: header;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #d9dfd4;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
}

#logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

#logo_img {
    width: 45px;
    height: auto;
    object-fit: contain;
}

.logo_texto {
    display: flex;
    flex-direction: column;
}

.logo_texto h3{
    background:linear-gradient(to bottom, #ff6600, #f3830c, #FBB944);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo_texto p{
    color: #3e5d3d;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

nav a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
}


.header-direita{
    display: flex;
    align-items: center;
    gap: 10px; 
}

.usuario-area{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.login-link{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #415140;
    transition: color 0.3s ease;
}

.login-link:hover{
    color: #F39430;
}

.carrinho-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.carrinho {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrinho img {
    width: 24px;
    height: auto;
    display: block;
    cursor: pointer;
}
 
#organicos_text2 a, 
.Faleconosco {
    display: inline-block;
    vertical-align: middle;
}

.VerPrdt, .Faleconosco {
    font-size: 1rem;            
    padding: 12px 24px;        
    margin-right: 15px;         
    border-radius: 30px;       
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease; 
    text-align: center;
}

.VerPrdt {
    background-color: #F39430;
    color: white;
}

.Faleconosco {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

#titulo_abertura{
    grid-area: t_a;
    background-image: url(../Imagens/fundo_imagem.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 110vh;
    padding-left: 100px;
}

#organicos_text{
    margin-bottom: 12px;
    font-size: 30px;
    letter-spacing: 1px;
    background: linear-gradient(to bottom, #ff6600, #f3830c, #FBB944);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#organicos_text2 h1{
    color: white;
    margin-bottom: 20px;
    font-size: 72px;
    line-height: 85px;
}

#organicos_text2 span{
    font-family: serif;
    font-style: italic;
    padding-right: 10px;
    font-size: 72px;
    background: linear-gradient(to bottom, #ff6600, #f3830c, #FBB944);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#organicos_text2 p{
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: rgb(169, 189, 143);
    line-height: 36px;
}
 
#História{
    grid-area: História;
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    margin-left: 170px;
    padding: 30px;
    align-items: center;
    font-size: 20px;
    max-width: 1200px;
    margin-bottom: 20px;
    text-align: left;
    border-radius: 20px;
}

#História section{
    min-width: 450px;
    flex: 1;
    padding-right: 145px;
}

.bloco-topo{
    background: linear-gradient(to bottom,#ff6600, #f3830c, #FBB944);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 30px;
}

#História h1{
    margin-top: 40px;
    color: #415140;
}

.p1,.p2,.p3{   
    color: #415140;
    margin-top: 10px;
    line-height: 30px;
    width: 420px;
}

#História aside{
    flex: 1 1 400px;
    width: fit-content;
}

#História img{
    width: 100%;
    border-radius: 10px;
}

@media (max-width:940px){
    #História aside{
        justify-content: center;
    }
    #História img{
        max-width: 100%;
        border-radius: 20px;
    }
}
 
#valores{
    grid-area: valores;
    padding: 20px;
    display: flex;
    gap:40px;
    margin: 0 auto;
    justify-content: center;
    border-radius: 20px;
}

#valores h4{
    color: black;
}

.item_A,.item_C, .item_B{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    border-radius: 30px;
    font-size: 20px;
    line-height: 25.5px;
    padding: 80px;
    width: 40%;
    text-align: center;
}
 
#produto_mensal{
    grid-area: p_m;
    display: flex;
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: 50px auto;
    gap: 15px;
    border-radius: 20px;
    border: 1px solid black;
    font-family: 'Poppins', sans-serif;
}

#Informacoes_mensais h2{
    color: #415140;
}

.bloco_imagem_mensal{
    flex:1;
    position: relative;
}

#Informacoes_mensais{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.bloco_imagem_mensal img{
    flex: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid black;
}

.bloco_preco {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 20px;
}

.bloco_titulo{
    padding-bottom: 20px;
    background: linear-gradient(to bottom,#ff6600, #f3830c, #FBB944);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tag_destaque{
    position: absolute;
    top: 20px;
    left: 30px;
    background-color:#e77527;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    padding: 5px;
}

.botao_loja{
    font-size: 15px;
    margin: 25px 0;
    border-radius: 15px;
    height: 40px;
    width: 150px;
    background-color: #F39430;
    color: white;
    cursor: pointer;
}

.preço{
    background: linear-gradient(to bottom,#ff6600, #f3830c, #FBB944);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
}

.paragrafo_mensal{
    color: black;
    text-align: left;
    width: 320px;
    padding-top: 20px;
}
 
#seções_produtos{
    grid-area: s_c;
    margin-top: 10vh;
    display: flex;
    flex: 1;
    gap: 30px;
    margin-bottom: 10em;
    padding: 90px 60px;
    flex-direction: column;
    align-items: center;
}

.titulos_produtos{
    text-align: center;
    align-items: center;
}

.titulos_produtos span{
    background:linear-gradient(to bottom, #e77527, #ffa13d, #FBB944);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins';
    font-weight: 600;
}

.titulos_produtos h1{
    color: #415140;
}

.container_produtos{
    display: flex;
    gap: 30px;
    flex-direction: row;
    width: 100%;
    padding-top: 37px;
}

.produtos{
    display: flex;
    object-fit: cover;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    aspect-ratio: 5/6;
}

.produtos img{
    width: 100%;
    height: 100%;
    object-fit: cover;    
    transition: transform 1.5s ease-in-out;
}

.Redirecionamento{
    display: block;
    text-decoration: none;
    flex: 1;
}

.legenda{
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    color: rgb(255, 255, 255);
    text-align: center;
    bottom: 0;
    left: 0;
    font-size: 1.3rem;
    background-color: rgba(216, 216, 216, 0.1);
    height: 30%;
    width: 100%;
}

.Redirecionamento:hover .produtos img{
    transform: scale(1.18);
}

#rodape{
    grid-area: roda; 
    background: #415140;
    color: white;
    padding: 60px 10% 30px;
    width: 100%;
    margin-top: 100px;
}

#rodape footer{
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start;
    gap: 60px; 
    border-bottom: 1px solid rgba(255,255,255,0.1); 
    padding-bottom: 40px;
}

.footer-col{
    width: 30%;
}

.footer-col:nth-child(2) {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
}


.footer-col:nth-child(2) a {
    display: block;
    width: fit-content;
    margin: 0 auto 10px; 
}


.footer-logo-align{
    display: flex;
    align-items: center;
    gap: 15px;

    margin-bottom: 20px;
}

.icone-logo-principal{
    width: 40px;
    height: auto;
}

.footer-col h2{
    margin-bottom: 0;
    color: white;
    font-family: 'Cinzel Decorative', serif; 
    font-size: 24px;
}

.footer-col h3{
    margin-bottom: 20px;
    font-size: 20px;
    background: linear-gradient(to bottom, #ff6600, #f3830c, #FBB944);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'League Spartan', sans-serif;
}

.footer-nav-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start; 
}

.footer-col p, 
.footer-nav-list a,
.contato-item span { 
    color: #d9d9d9;
    text-decoration: none;
    line-height: 1.6;
    font-size: 16px;
    font-family: 'League Spartan', sans-serif;
}

.footer-nav-list a:hover {
    color: #FBB944;
}


.contato-item { 
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 15px;
}
.icone { 
    width: 22px;
    height: 22px;
    object-fit: contain;
    flex-shrink: 0;
}

.copyright { 
    text-align: center;
    padding-top: 25px;
    font-size: 14px;
    color: #d8d8d8;
    font-family: "Cinzel Decorative", serif;
    width: 100%;
}


@media (max-width: 900px){

    #rodape footer{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;
    }

    .footer-col{
        width: 100%;
    }

    .footer-logo-align{
        justify-content: center;
    }

    .footer-nav-list{
        align-items: center;
    }

    .contato-item{
        justify-content: center;
    }

}
@media (max-width:600px){
    html,body{
        width: 100%;
        overflow-x: hidden;
    }
    #container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    #Cabeçalho{
        height: auto;
        padding: 15px 0;
    }

    nav{
        flex-direction: column;
        gap: 20px;
        width: 100%;
        align-items: center;
    }

    #logo{
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    #logo_img{
        width: 50px;
        height: auto;
        object-fit: contain;
    }

    .logo_texto{
        width: 100%;
        display: flex;
    }

    .logo_texto h3{
        font-size: 15px;
    }

    .logo_texto p{
        font-size: 15px;
    }

    .links{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }

    nav a{
        color: #000;
        text-decoration: none;
        font-family: 'Poppins',sans-serif;
        font-size: 13px;
    }


    .header-direita{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        gap: 25px; 
        margin-top: 5px;
    }

    .carrinho{
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .carrinho img {
        width: 24px;
        height: auto;
        margin-left: 0;
    }

    .VerPrdt, .Faleconosco {
        text-decoration: none;
        width: 100%;       
        max-width: 280px;  
        margin: 8px auto; 
        display: block;    
        text-align: center;
        font-size: 16px;
    }

    #titulo_abertura{
        min-height: 60vh;
        background-size: cover;
        background-position: center;
        padding: 20px;
        text-align: center;
        padding-left: 20px; 
    }

    #organicos_text{
        font-size: 1.2rem;
        margin-bottom: 8px;
        text-align: center;
        width: 100%;
    }

    #organicos_text2 h1{
        font-size: 2rem;
        line-height: 40px;
    }

    #organicos_text2 span{
        font-size: 2rem;
    }

    #organicos_text2 p{
        font-size: 1rem;
        line-height: 24px;
        text-align: center;
    }

    #organicos_text2 a {
        display: block;
        text-decoration: none;
        width: 100%;
        text-align: center;
    }

    #História{
        display: flex;
        margin-left: 0;
        width: 100%;
    }

    .p1,.p2,.p3{   
        color: #415140;
        margin-top: 10px;
        line-height: 30px;
        width: 100%;
    }

    #História aside{
        padding-top: 30px;        
    }

    #valores{
        display: flex;
        flex-direction: column;
        margin:0;
        gap: 3px;
        width: 100%;
    }

    .item_A, .item_C, .item_B{
        width: 100%;
        padding: 30px 20px;
    }

    #produto_mensal{
        width: 95%;
        max-width: 365px;
        flex-direction: column;
    }

    #Informacoes_mensais{
        padding: 15px;
    }
    
    .paragrafo_mensal {
        width: 100%;
    }

    .container_produtos{
        flex-direction: column;
    }
}

.sair-link{
    display: none;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #F39430;
    cursor: pointer;
}

.usuario-area{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

#textoUsuario{
    display: flex;
    align-items: center;
}
